img{
    float:none;
    margin: 0;
  
}

h3{
    float:right;
    font-family: none ;
    margin-top: 0;
}

 h2{
    font-family:boroto;
    text-align:center;
    margin: 10%;
}

.section1{
    border-style:groove;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    
}
.img1{
    width: 100px;
}

.section2{
    border-style: groove;
    text-align: center;
}

.img2{
    width:20px;
     
}

.section3{
    text-align: center;
    
}

.section4{
    border-style: groove;
    
}

.Email{
    position:absolute;
    border:3px solid black;
}

.section5{
    border-style: groove;
    text-align: center;
    background-color: blue;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif }

    .content1{
        color:white;
        text-align: left;
        margin: 2%;
        padding-top: 10%;
         }

    .content2 p{
        color: white;
        text-align: center;
        padding: -70px 0;
        vertical-align:middle;
        
    }

    .content3{
        color: white;
        text-align: right;
        margin-right: 100px;
        padding-top: -10%;
    }

    .background{
        background-color: black;
    
   }